@function color($color-name) {
  @return map-get($colors, $color-name);
}

$colors: (
  "primary": steelblue,
  "accent": #f8f9fa,
  "dark": #15151b
);

$breakpoints: (
  "small": 570px
);
@function size($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

@mixin uppercase() {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* $mq-size: 570px; */
@mixin respon-to($size) {
  @media only screen and (min-width: #{$size}) {
    @content;
  }
}

$middleWrapperMaxWidth: 600px;
$jumboHeight: 130px;
@include respon-to(size(small)) {
  $jumboHeight: 120px;
}

body {
  background-color: lighten(map-get($colors, dark), 1%);
  color: map-get($colors, accent);
  font-family: "Montserrat", "Avenir", sans-serif;

  @include respon-to(size(small)) {
    font-size: 1.3rem;
    padding-top: 0;
  }

  .clip {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: color(dark);
    /* map-get($colors, dark); */
  }
}

.jumbotron {
  background-color: map-get($colors, primary);
  max-height: $jumboHeight;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.8rem;
  padding: 0.1rem 0;
  margin-bottom: 0;

  &__heading {
    font-size: 1.4rem;
    @include uppercase;

    @include respon-to(size(small)) {
      font-size: 1.9rem;
      line-height: 1.95rem;
      letter-spacing: 0.4rem;
      margin-top: 1rem;
    }
    .rgb-values {
      color: map-get($colors, dark);
      @include respon-to(size(small)) {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

.controls-bar {
  background-color: map-get($colors, primary);
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  &__wrapper {
    max-width: $middleWrapperMaxWidth - 50px;
    margin: 0 auto;

    .controls--left {
      float: left;
    }
    .controls--right {
      float: right;

      .selected {
        background-color: map-get($colors, accent);
        color: map-get($colors, primary);
      }
    }
  }
  &__button {
    text-transform: lowercase;
    background-color: map-get($colors, primary);
    color: map-get($colors, accent);
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    padding: 0.5rem 0.2rem;
  }

  &__button::first-letter {
    text-transform: capitalize;
  }
}

.info-bar {
  text-align: center;
  text-transform: capitalize;
}

.squares-wrapper {
  background-color: color(dark);
  max-width: $middleWrapperMaxWidth;
  margin: 0 auto;
  padding: 0;
  padding-left: 0.3rem;
  box-shadow: 31px 29px 35px 49px rgba(0, 0, 0, 0.76);
  z-index: 1;
  .square {
    border: 2px solid map-get($colors, accent);
    width: 29%;
    padding-bottom: 30%;
    margin: 1.4%;
    float: left;
  }
}

.rgbimg-wrapper {
  margin: 0 auto;
  width: 29%;

  @include respon-to(size(small)) {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 100%;

    @include respon-to(size(small)) {
      height: $jumboHeight + 3px;
      width: $jumboHeight + 3px;
    }
  }
}

.transparent {
  opacity: 0;
}

.highlight {
  color: red !important;
}
