.unused {
  color: red; }

/* $mq-size: 570px; */
body {
  background-color: #17171e;
  color: #f8f9fa;
  font-family: "Montserrat", "Avenir", sans-serif; }
  @media only screen and (min-width: 570px) {
    body {
      font-size: 1.3rem;
      padding-top: 0; } }
  body .clip {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #15151b;
    /* map-get($colors, dark); */ }

.jumbotron {
  background-color: steelblue;
  max-height: 130px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.8rem;
  padding: 0.1rem 0;
  margin-bottom: 0; }
  .jumbotron__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (min-width: 570px) {
      .jumbotron__heading {
        font-size: 1.9rem;
        line-height: 1.95rem;
        letter-spacing: 0.4rem;
        margin-top: 1rem; } }
    .jumbotron__heading .rgb-values {
      color: #15151b; }
      @media only screen and (min-width: 570px) {
        .jumbotron__heading .rgb-values {
          display: inline-block;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem; } }

.controls-bar {
  background-color: steelblue;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  .controls-bar__wrapper {
    max-width: 550px;
    margin: 0 auto; }
    .controls-bar__wrapper .controls--left {
      float: left; }
    .controls-bar__wrapper .controls--right {
      float: right; }
      .controls-bar__wrapper .controls--right .selected {
        background-color: #f8f9fa;
        color: steelblue; }
  .controls-bar__button {
    text-transform: lowercase;
    background-color: steelblue;
    color: #f8f9fa;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    padding: 0.5rem 0.2rem; }
  .controls-bar__button::first-letter {
    text-transform: capitalize; }

.info-bar {
  text-align: center;
  text-transform: capitalize; }

.squares-wrapper {
  background-color: dark;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  padding-left: 0.3rem;
  box-shadow: 31px 29px 35px 49px rgba(0, 0, 0, 0.76);
  z-index: 1; }
  .squares-wrapper .square {
    border: 2px solid #f8f9fa;
    width: 29%;
    padding-bottom: 30%;
    margin: 1.4%;
    float: left; }

.rgbimg-wrapper {
  margin: 0 auto;
  width: 29%; }
  @media only screen and (min-width: 570px) {
    .rgbimg-wrapper {
      position: absolute;
      top: 0;
      left: 0; } }
  .rgbimg-wrapper img {
    width: 100%; }
    @media only screen and (min-width: 570px) {
      .rgbimg-wrapper img {
        height: 133px;
        width: 133px; } }

.transparent {
  opacity: 0; }

.highlight {
  color: red !important; }
