/** @format */
@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");

body {
  background: #15151b;
}

a {
  font-weight: bold;
}

.navbar-nav .nav-link {
  margin: 0 -0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--primary);
}

.navbar-nav:hover .nav-link:hover {
  color: var(--light);
  background: var(--primary);
}

.nav-item,
.navlink {
  display: inline-block;
}
