/** @format */
@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");

body {
  background: #15151b;
}

.jumbotron {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--primary);
  color: var(--light);
  margin: 0;
}

.bar {
  background: var(--light);
}

.links-wrapper {
  /*   text-align: center;
  padding: 0.2rem;
  max-width: 670px;
  margin: 0 auto;
  background: lightcoral;
  height: 30px; */
  text-align: center;
  padding: 0.2rem 7rem;
  max-width: 670px;
  margin: 0 auto;
  /* background: lightcoral; */
  height: 30px;
}
.links-wrapper > a:nth-child(1) {
  float: left;
}

.menu--right {
  float: right;
  /* background: yellow; */
  margin: 0;
  padding: 0;
}
.control-btn {
  padding: 0 3px;
}

.menu--right .control-btn:nth-child(1) {
  /* color: red; */
}

a {
  font-weight: bold;
}

.squares-wrapper {
  clear: both;
  text-align: center;
  padding: 1rem;
  max-width: 930px;
  margin: 0.5rem auto 0 auto;
}

.square {
  background: green;
  margin: 0.4rem;
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.h1,
h1 {
  font-size: 1.8rem;
}

.h2,
h2 {
  font-size: 1rem;
}

@media (min-width: 620px) {
  .links-wrapper {
    padding: 0.2rem 5rem;
  }
  .square {
    background: grey;
    margin: 0.4rem;
    width: 10.5rem;
    height: 10.5rem;
  }

  .squares-wrapper {
    padding-top: 2rem;
  }
}

@media (min-width: 800px) {
  .links-wrapper {
    padding: 0.2rem 1rem;
  }
  .square {
    background: green;
    margin: 0.5rem;
    width: 13rem;
    height: 13rem;
  }

  .h1,
  h1 {
    font-size: 2.5rem;
  }

  .h2,
  h2 {
    font-size: 1.3rem;
  }
}
